.dateAndAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-top: 1px solid var(--input-pad-button-border-color);

  > .date {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: monospace;
    color: var(--date-text-color);
    fill: var(--amount-text-color);

    > .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  > .amount {
    font-size: 20px;
    font-family: monospace;
    color: var(--amount-text-color);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--input-pad-button-border-color);

  > button {
    width: 25%;
    height: 48px;
    border: none;
    border-right: 1px solid var(--input-pad-button-border-color);
    border-bottom: 1px solid var(--input-pad-button-border-color);
    background: transparent;

    &:nth-child(4n) {
      border-right: none;
    }
  }
}
